<h1>Create Project</h1>

<form>
    
  <label for="project_title">Title</label>
  <input
    id="project_title"
    name="project[title]"
    type="text">
  <br>
  
  <label for="project_description">Description</label>
  <input
    id="project_description"
    name="project[description]"
    type="text">
  <br>
  
  <input
    id="project_user_id"
    name="project[projectable_id]"
    value="<%=Crossedout.current_user.id%>"
    type="hidden">
  <br>
  
  <input
    id="project_user_id"
    name="project[projectable_type]"
    value="User"
    type="hidden">
  <br>
  
  <input type="submit" value="Create Project">
</form>