<script type="application/json" id="bootstrapped_current_user_json">
  <%= current_user.to_json.html_safe %>
</script>
<script type="application/json" id="bootstrapped_all_users_json">
  <%= @users.to_json.html_safe %>
</script>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>

<div class="three-panes">
  
  <div class="content">
    <div class="sidebar"></div>
      
    <div class="not-sidebar">
      <div class="content-header"></div>
      <div class="pane content-left-pane">
        <div class="pane-header left-header"></div>
        <div class="not-header pane-left-not-header"></div>
      </div>
      <div class="pane content-right-pane">
        <div class="pane-header right-header"></div>
        <div class="not-header pane-right-not-header"></div>
      </div>
    </div>
    
  </div>
</div>

<!-- <div class="three-panes">
  <div class="sidebar"></div>
  <div class="center-pane"></div>
  <div class="right-pane"></div>
</div> -->

<!-- <div class="row">
  <div class="col-xs-6 col-md-4"><div class="sidebar"></div></div>
  <div class="col-xs-6 col-md-4"><div class="center-pane">hihi</div></div>
  <div class="col-xs-6 col-md-4"><div class="right-pane"></div></div>
</div> -->

