<form>
    
  <label for="team_title">Team Title</label>
  <input
    id="team_title"
    name="team[title]"
    value="<%=team.escape('title')%>"
    type="text">
  <br>
  
  <input type="submit" value="Edit Team">
</form>