<h1>Create Team</h1>

<form>
    
  <label for="team_title">Title</label>
  <input
    id="team_title"
    name="team[title]"
    type="text">
  <br>
  
  <label for="team_users">People</label>
  <input type="text">
  <button class="invite-user-button">Invite</button>
    
  <input type="submit" value="Create Team">
</form>