<h1>Create Team</h1>

<form>
    
  <label for="team_title">Title</label>
  <input
    id="team_title"
    name="team[title]"
    type="text">
  <br>
  
  <!-- <% Crossedout.users.each(function(user) { %>
    
  <input type="checkbox" id="team_user_id" name="team[member_ids][]" value="<%=user.get('id')%>"><%=user.get('username')%>
  <% }); %> -->
  <label for="team_user_ids">Add Members</label>  
  <input
    class="team_users typeahead"
    id="team_user_ids"
    name="team[member_ids]"
    type="text">
    
  <!-- <label for="team_user_id">Member</label>
  <input 
    id="team_user_id"
    name="team[members][0][user_id]"
    type="text">
  <br> -->
  
  <!-- <select>
    <option></option>
  <% Crossedout.users.each(function(user) { %>
    <option id="team_user_id" name="team[user_id]" value="<%=user.get('id')%>"><%=user.get('username')%></option>
  <% }) %>
  </select> -->
  
  
  <!-- <label for="team_users">People</label>
  <input 
    id="team_users"
    name="team[email]" 
    type="text">
  <br>
  <button class="invite-user-button">Invite</button> -->
  <br>
  <input type="submit" value="Create Team">
</form>