<!-- <div class="detail-title"><%= project.escape("title")%></div>
<div class="detail-description"><%= project.escape("description")%></div> -->



<div class="content-main">
  <div class="detail-title"><%= project.escape("title")%></div>
  <br>
  <div class="detail-description"><%=project.escape("description")%></div>
</div>
<div class="trashcan">
  <button class="btn btn-danger">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
</div>