<div class="tasks">
Tasks: <br>
<% if (tasks.length == 0) { %>
Your team project currently has no tasks.
<% } %>

<% tasks.each(function(task, index) { %>
  
  <div class='task-show'>
  <div class="task-index"><%=index + 1%>.</div>
  <div class="task-show-link" data-id="<%= task.id %>">
    <input class="task-input" data-id="<%= task.id %>" type="text" value="<%= task.get('title') %>"></input>
    
  </div>
  
</div>
  
<% }); %>
<div class="delete-project-button"><a>Delete Project</a></div>
<div class="add-new-task"><a>Add New Task</a></div>
</div>