/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 *= require bootstrap
 *= require bootstrap-theme
 */

html, body {
/*  font-family: "Times New Roman", sans-serif;*/
  font-family: 'Roboto Condensed', sans-serif;
/*  font-family: 'Pacifico', Helvetica, sans-serif;*/
  font-size: 0.8em;
/*  background-color: #1d6a47;*/
  background-color: white;
  color: black;
/*  font-weight: 200;*/
}

input {
/*  font-family: "Times New Roman", sans-serif;*/
  font-family: 'Roboto Condensed', sans-serif;
/*  font-family: 'Pacifico', Helvetica, sans-serif;*/
}

.sidebar, .center-pane, .right-pane {
  padding: 20px;
}

.crossed-out-logo {
  font-family: 'Pacifico', Helvetica, sans-serif;
  font-size: 4em;
/*  font-color: ;*/
}

.sidebar {
  border-style: 1px solid white;
  float: left;
  width: 28%;
  height: 100%;
  position: fixed;
  overflow: scroll;
  background: grey;
/*  border-radius: 25px;*/
}

.center-pane {
  position: fixed;
  margin-left: 35%;
  border-style: 1px solid white;
  width: 28%;
  height: 80%;
  overflow: scroll;
/*  background: pink;*/
  border-radius: 25px;
}

.focus {
  position: fixed;
  margin-left: 20%;
  border-style: 1px solid white;
  width: 60%;
  height: 80%;
  overflow: scroll;
  background: pink;
  border-radius: 25px;
  z-index: 1;
}

.right-pane {
  position: fixed;
  margin-left: 70%;
  border-style: 1px solid white;
  width: 28%;
  height: 80%;
  overflow: scroll;
/*  background: lavender;*/
  border-radius: 25px;
}

input[type=text] {
  border: 0;
  background-color: navajowhite;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

.add-new-task {
  color: grey;
}

.task-show {
  display: inline-block;
}

.task-index {
  display: inline-block;
}

.task-show-link {
  display: inline-block;
}