/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background-color: #F0F8FF;
}

.sidebar {
  border-style: solid;
  float: left;
  width: 25%;
  height: 100%;
  position: fixed;
  overflow: auto;
}

.center-pane {
/*  float: right;  */
  position: fixed;
  margin-left: 35%;
  border-style: solid;
  width: 25%;
  height: 100%;
}

.right-pane {
  position: fixed;
  margin-left: 70%;
  border-style: solid;
  width: 25%;
  height: 100%;
}

input[type=text] {
  border: 0;
  background-color: transparent;
}

.add-new-task {
  color: grey;
}